/* less: 3.5;
#color() {
	primary:#000000;
}

color: #color[primary];
*/
.grid {
  display: flex;
}
.grid .column {
  display: block;
  margin: 0px;
  padding: 0.3em;
  width: 8.33333333%;
}
body {
  background-color: #fefefe;
}
nav {
  display: block;
  width: 100%;
}
nav ul {
  list-style-type: none;
  position: relative;
  padding: 0px;
}
nav ul li a {
  display: block;
  background-color: #e0e0e0;
  color: #fefefe;
  padding: 3px 6px;
}
nav ul li a:hover {
  background-color: #fefefe;
  color: #e0e0e0;
}
nav ul {
  display: flex;
}
nav ul li {
  display: block;
  margin: 0px;
  padding: 0.3em;
  width: 50%;
}
.container,
footer {
  display: flex;
}
main {
  padding: 2em;
}
article {
  display: block;
  margin: 0px;
  padding: 0.3em;
  width: 33.33333333%;
}
footer {
  margin-top: 2em;
}
footer p {
  width: 100%;
  text-align: center;
}
.post .card {
  border: 1px solid #929292;
  border-radius: 3px;
}
.post .card .poster {
  width: 100%;
  background-color: #020202;
  height: 8em;
}
.post .card .title {
  font-size: 2em;
  text-align: center;
}
.post .tags {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}
.post .tags li {
  display: inline;
  margin-right: 3px;
}
.post .tags li a {
  text-decoration: none;
  color: #929292;
}
.post .tags li a:hover {
  text-decoration: underline;
}
.post .tags li:before {
  content: "#";
}
