@img: "../img";

/* less: 3.5;
#color() {
	primary:#000000;
}

color: #color[primary];
*/


@import 'settings';
@import 'layout';
@import 'navbar';
//@import 'grid';
@import "flexiblegs-less.less";

body {
	background-color: #fefefe;
}

nav {
	#nav();
	ul {
		.wrap();

		li {
			.col(1,2);
		}
	}
}


.container, footer {
	.wrap();
}

main {
	#layout.main();
}

