@img: "../img";

/* less: 3.5;
#color() {
	primary:#000000;
}

color: #color[primary];
*/


@import 'settings';
@import 'layout';
@import 'nav';
@import 'grid';
//@import "flexiblegs-less.less";




*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
	background-color: @color-background;
	color: @color-dark;
}

.muted {
	&, &:hover, &:active, &:visited, &:link {
		color: @color-dark;
		text-decoration: none !important;
	}
}

nav {
	#navbar();
	.menu {
		flex-grow: 1;
		text-align: center;
		a { padding: @spacing-medium; }
	}
	a {
		&:extend(.muted);

		&:hover {
			text-decoration: underline;
		}
	}

	.links .active {
		font-weight: bold;
		&:hover { color: @color-accent; }
	}
}

.cover {
	#layout.cover();
}

.heading {
	#layout.base();

	h1 {
		width: 100%;
		text-align: center;
	}
}

.container {
	#sgrid(@min: 100%);
}

.grid {
	#sgrid();

	.column {
		#sgrid.columns();
		#sgrid.columns(5,6);
	}

	.offset {
		#sgrid.offsets();
	}
}

main, aside {
	#layout.base();

}

article {
	&:first-child h2 { margin-top: 0px; } // Remove top margin first article
	//.col(1,3);
}

ul.menu {
	#navmenu();
}


footer {
	margin-top: 2em;

	p {
		width: 100%;
		text-align: center;
	}
}

.post {
	.card {
		#layout.block;
		#layout.card;

		&.hover:hover {
			box-shadow: -2px 4px 16px -10px rgba(0,0,0,0.38);
		}

		.poster {
			width: 100%;
			background-color: @color-dark;
			height: 8em;
			overflow: hidden;
			img {
				min-width: 100%;
				min-heigh: 100%;
			}
		}
		.title {
			font-size: 2em;
			text-align: center;
			margin: @spacing-small;
		}
	}
	.tags {
		list-style-type: none;
		padding: @spacing-small;
		margin-top: 0px;

		li {
			display: inline-block;
			margin-right: @spacing-small;
			a {
				text-decoration: none;
				color: @color-accent;

				&:hover {
					text-decoration: underline;
				}
			}
			&:before {
				content: "#";
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.hide-on-desktop {
			display: none !important;
			width: 0;
			height: 0;
	}
}

@media screen and (max-width: 767px) {
	body {
		min-width: 360px;
	}
	.grid {
		#sgrid(100%, 360px);

		[class^="column-"] {
			width: auto;
			float: none;
			margin: @spacing-small 0;
		}

		.mobile-column {
			#sgrid.columns(5, 6);
			padding-right: @spacing-small;
			padding-left: @spacing-medium;
			margin: 0 0 @spacing-small;
		}

		.mobile-offset {
			#sgrid.offsets(5, 6);
		}
	}
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}

