#nav() {
	display: block;
	width: 100%;

	ul {
		list-style-type: none;
		position: relative;
		padding: 0px;
		li {

			a {
				display:block;
				background-color: #e0e0e0;
				color: #fefefe;
				padding: 3px 6px;

				&:hover {
					background-color: #fefefe;
					color: #e0e0e0;
				}
			}
		}
	}
}
