@color-primary: #929292;
@color-secondary: #e6e6e6;
@color-background: #fefefe;

@color-light: #f3f3f3;
@color-dark: #020202;

@color-success: #f1f;
@color-warning: #11f;

@size-small: 480px;
@size-medium: 720px;
@size-large: 1024px;

@grid-columnCount: 12;
@grid-columnWidth: 3em;
@grid-gutterSize: 1em;